.root {
    -fx-font-family: "Space Grotesk", "Noto Sans", sans-serif;
    -fx-background-color: #f8fcfa;
}

.table-view {
    -fx-border-color: #cde9df;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}